<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

</head>
<body>
	<div th:replace="header :: header"></div>
	<a class="retour" th:href="@{/}">Retour à la page d'accueil</a>
    <h1>Liste des Voyages</h1>
    
    <a th:href="@{/reservations-liste}" style="color: black;">Réservations</a>
    
    <p>Nombre de catégories: <span th:text="${voyages.size}"></p>

    
    <table th:if="${voyages.size() > 0}">
        <thead>
            <tr>
				<th>Image</th>
				<th>Pays</th>
                <th>Ville</th>
                <th>Description</th>
                <th>Prix unitaire</th>
                <th>Catégorie</th>
                <th>Nombre de places</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="voyage : ${voyages}" class="voyage-row">
				<td><img th:src="@{/displayImage/{id}(id=${voyage.voyageId})}" style="width: 80%;"></td>
				<td class="pays" th:text="${voyage.pays}"></td>
		        <td class="ville" th:text="${voyage.ville}"></td>
		        <td class="description" th:text="${voyage.description}"></td>
		        <td class="prix" th:text="${voyage.prix_unitaire}"></td>
		        <td class="categorie" th:text="${voyage.idCategorie.nomCategorie}"></td> 
		        <td class="nbPlaces" th:text="${voyage.nbPlaces}"></td> 

    			 <td>
	                
	                <form th:action="@{/modifier-voyage-redirection}" method="post">
	                    <input type="hidden" name="voyageId" th:value="${voyage.voyageId}" />
	                    <button type="submit">Modifier</button>
	                </form>
	                <form th:action="@{/supprimer-voyage}" method="post">
	                    <input type="hidden" name="voyageId" th:value="${voyage.voyageId}" />
	                    <button type="submit">Supprimer</button>
	                </form>
            	</td>
			</tr>

        </tbody>
    </table>
    
    </br>
    </br>
    
	<form th:action="@{/ajouter-voyage}" method="post" enctype="multipart/form-data">
	    <label for="ville">Ville :</label>
	    <input type="text" id="ville" name="ville" required><br>
	    
	    <label for="description">Description:</label>
	    <input type="text" id="description" name="description" required><br>
	    
	    <label for="prix_unitaire">Prix unitaire:</label>
	    <input type="number" id="prix_unitaire" name="prix_unitaire" required><br>
	    
	     <label for="image">Image du Voyage:</label>
	     <input id="image" th:name="image" type="file" required/>
	    
	    <label for="pays">Pays :</label>
	    <input type="text" id="pays" name="pays" required><br>
	    
	  	<label for="nbPlaces">Nombre de places:</label>
	    <input type="number" id="nbPlaces" name="nbPlaces" required><br>
	    
		<label for="idCategorie">Catégorie:</label>
		<select id="idCategorie" name="idCategorie" required>
		    <option value="">Sélectionnez une catégorie</option>
		    <th:block th:each="categorie : ${categories}">
		        <option th:value="${categorie.idCategorie}" th:text="${categorie.nomCategorie}"></option>
		    </th:block>
		</select>
	    
	    <button type="submit">Ajouter Voyage</button>
	</form>
	
	</body>
</html>