<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
     <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
</head>
<body>
	<div th:replace="header :: header"></div>
	<a class="retour" th:href="@{/}">Retour à la page d'accueil</a>

    <h1>Inscription</h1>
    
<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>
    
	<form th:action="@{/inscription-enregistrer}" method="post" >
	    <label for="nom">Nom:</label>
	    <input type="text" id="nom" name="nom" required maxlength="49" minlength="2">
	    
	    <label for="prenom">Prénom</label>
	    <input type="text" name="prenom" id="prenom" required maxlength="49" minlength="2">
	    
	    <label for="email">Adresse mail</label>
	    <input type="email" name="email" id="email" required>

	    <label for="mdp">Mot de passe</label>
	    <input type="password" name="mdp" id="mdp"required minlength="8" maxlength="49">
	        
	    <button type="submit">S'inscrire</button>
	</form>
	
	</body>
</html>
