<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
     <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
</head>
<body>
	<div th:replace="header :: header"></div>
	<a th:href="@{/}">Retour à la page d'accueil</a>

    <h1>Liste des catégories</h1>

    <table>
        <thead>
            <tr>
				<th>Image</th>
				<th>Nom</th>
				<th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categorie : ${categories}" class="categorie-row">
				<td class="imageVoyage" th:text="${categorie.imageCategorie}"></td>
				<td class="nomCategorie" th:text="${categorie.nomCategorie}"></td>
    			 <td>
	                <form th:action="@{'/categorie-voyages/' + ${categorie.idCategorie}}" method="get">
	                    <input type="hidden" name="idCategorie" th:value="${categorie.idCategorie}" />
	                    <button type="submit">Voir plus</button>
	                </form>
            	</td>
			</tr>

        </tbody>
    </table>
	
	</body>
</html>
