<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

</head>
	<div th:replace="header :: header"></div>
	
	<button class="retour"><a th:href="@{/}">Retour à la page d'accueil</a></button>

    <h1>Liste des Voyages</h1>
    <p th:unless="${token}">Connectez-vous pour réserver</p>

    <p>Nombre de voyages: <span th:text="${voyages.size}"></p>

    <table th:if="${voyages.size() > 0}">
        <thead>
            <tr>
				<th>Image</th>
				<th>Pays</th>
                <th>Ville</th>
                <th>Description</th>
                <th>Prix unitaire</th>
                <th>Catégorie</th>
                <th>Nombre places</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="voyage : ${voyages}" class="voyage-row">
				<td><img th:src="@{/img/} + ${voyage.imageVoyage}" alt="Image du voyage" style="max-width: 50%; max-height: 100px;"></td>
				<td class="pays" th:text="${voyage.pays}"></td>
		        <td class="ville" th:text="${voyage.ville}"></td>
		        <td class="description" th:text="${voyage.description}"></td>
		        <td class="prix" th:text="${voyage.prix_unitaire}"></td>
		        <td class="categorie" th:text="${voyage.idCategorie.nomCategorie}"></td> 
		        <td class="nbPlaces" th:text="${voyage.nbPlaces}"></td> 
		        
		        <!--Non connecté-->
				<td th:unless="${token}" th:if="${voyage.nbPlaces == 0}">
				        <p>Plus de places disponibles</p>
				</td>
				
				<td th:unless="${token}" th:if="${voyage.nbPlaces > 0}">
				    <form th:action="@{/connexion}" method="get">
				        <input type="hidden" name="voyageId" th:value="${voyage.voyageId}" />
				        <button type="submit">Réserver </button>
				    </form>
				</td>
				
				<!--Connecté -->
				<td th:if="${token !=null && voyage.nbPlaces > 0 && !voyagesWithReservationStatus[voyage.voyageId]}">
				    <form th:action="@{'/reservation/' + ${voyage.voyageId}}" method="post">
				        <input type="hidden" name="voyageId" th:value="${voyage.voyageId}" />
				        <button type="submit">Réserver</button>
				    </form>
				</td>
				
				<td th:if="${token !=null && voyagesWithReservationStatus[voyage.voyageId]}">
				    <p>Déjà réservé </p>
				</td>
				
				<td th:if="${token != null && voyage.nbPlaces == 0 && !voyagesWithReservationStatus[voyage.voyageId]}">
				    <p>Plus de places disponibles</p>
				</td>
			</tr>

        </tbody>
    </table>
    
	
	</body>
</html>
