<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
     <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
</head>
<body>
	<div th:replace="header :: header"></div>
	<a class="retour" th:href="@{/}">Retour à la page d'accueil</a>

    <h1>Liste des catégories</h1>
    <p>Nombre de catégories: <span th:text="${categories.size}"></p>


    
    <div class="grid-container">
        <div class="grid-item" th:each="categorie : ${categories}">
            <img th:src="@{/displayImageCat/{id}(id=${categorie.idCategorie})}" style="width: 50%;">
            <p class="nomCategorie" th:text="${categorie.nomCategorie}"></p>
            <form th:action="@{'/categorie-voyages/' + ${categorie.idCategorie}}" method="get">
                <input type="hidden" name="idCategorie" th:value="${categorie.idCategorie}" />
                <button type="submit" class="submit">Voir plus</button>
            </form>
        </div>
    </div>
	
	</body>
</html>
