<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

</head>
<body>
	<div th:replace="header :: header"></div>
    <h1>Modification du profil </h1>
    
        <form th:action="@{/modifier-profil}" method="post">
        <input type="hidden" name="userId" th:value="${user.idUtilisateur}" />
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" th:value="${user.nom}" required><br>
        
        <label for="prenom">Prenom:</label>
        <input type="text" id="prenom" name="prenom" th:value="${user.prenom}" required><br>

        <label for="email">Adresse mail :</label>
        <input type="email" id="email" name="email" th:value="${user.email}" required><br>
 
        <label for="mdp">Mot de passe</label>
        <input type="password" id="password" name="mdp" minlength="8"><br>      

        <button type="submit">Modifier profil</button>
    </form>
	
	</body>
</html>
