<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

</head>
<body>
	<div th:replace="header :: header"></div>
	<a class="retour" th:href="@{/}">Retour à la page d'accueil</a>
    <h1>Recherche</h1>
    <p>Nombre de résultats trouvés: <span th:text="${resultats.size}"></p>
    
    
    <th:block th:if="${resultats.size > 0}">
		    <table>
		        <thead>
		            <tr>
						<th>Image</th>
						<th>Pays</th>
		                <th>Ville</th>
		                <th>Description</th>
		                <th>Prix unitaire</th>
		                <th>Catégorie</th>
		                <th>Nombre places</th>
		                <th>Action</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="res : ${resultats}" class="voyage-row">
						<td><img th:src="@{/displayImage/{id}(id=${res.voyageId})}" style="width: 50%;"></td>			
						<td class="pays" th:text="${res.pays}"></td>
				        <td class="ville" th:text="${res.ville}"></td>
				        <td class="description" th:text="${res.description}"></td>
				        <td class="prix" th:text="${res.prix_unitaire}"></td>
				        <td class="categorie" th:text="${res.idCategorie.nomCategorie}"></td>
				        <td class="nbPlaces" th:text="${res.nbPlaces}"></td> 


						<!-- ********Non connecté******** -->
						<!--Plus de places-->
						<td th:unless="${token}" th:if="${res.nbPlaces == 0}">
						        <p>Plus de places disponibles</p>
						</td>

						<!-- Réservation possible -->
						<td th:unless="${token}" th:if="${res.nbPlaces > 0}">
						    <form th:action="@{/connexion}" method="get">
						        <button type="submit">Réserver </button>
						    </form>
						</td>-						
									
						<!-- *********Connecté **********-->		
						
						<!-- Plus de places-->	
						<td th:if="${token !=null && res.nbPlaces == 0 && !voyagesWithReservationStatus[res.voyageId]}">
						  	<p>Plus de places disponibles</p>     
						</td>
											
						<!-- Peut réserver-->
						<td th:if="${token !=null && res.nbPlaces > 0 && !voyagesWithReservationStatus[res.voyageId]}">
				    		<form th:action="@{'/reservation/' + ${res.voyageId}}" method="post">
			                    <input type="hidden" name="voyageId" th:value="${res.voyageId}" />
			                    <button type="submit">Réserver</button>
			                </form>
						</td>-							
						<!-- Déjà une réservation-->
											
						<td th:if="${token !=null && voyagesWithReservationStatus[res.voyageId]}">
						    <p>Déjà réservé</p>
						</td>        	
					</tr>
		
		        </tbody>
		    </table>
	</th:block>
    
    </br>
    </br>
	
	</body>
</html>
