<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

</head>
<body>
	<div th:replace="header :: header"></div>
	<a th:href="@{/}">Retour à la page d'accueil</a>
    <h1>Liste des Voyages</h1>
    <p>Nombre de résultats trouvés: <span th:text="${resultats.size}"></p>
    
    <table>
        <thead>
            <tr>
				<th>Image</th>
				<th>Pays</th>
                <th>Ville</th>
                <th>Description</th>
                <th>Prix unitaire</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="res : ${resultats}" class="voyage-row">
				<td><img th:src="@{/img/} + ${res.imageVoyage}" alt="Image du voyage" style="max-width: 50%; max-height: 100px;"></td>
				<td class="pays" th:text="${res.pays}"></td>
		        <td class="ville" th:text="${res.ville}"></td>
		        <td class="description" th:text="${res.description}"></td>
		        <td class="prix" th:text="${res.prix_unitaire}"></td>
		        <td class="categorie" th:text="${res.idCategorie.nomCategorie}"></td> 
			</tr>

        </tbody>
    </table>
    
    </br>
    </br>
	
	</body>
</html>
