<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voyages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
</head>
<body>
	<div th:replace="header :: header"></div>
	
	<div class="fond">
		<form th:action="@{/resultats-recherche}" method="post" id="rechercher">
	    	<input type="text" id="recherche" name="recherche" placeholder="Entrez une ville, un pays..." required><br>
		    <button id="btn-loupe" type="submit"><img src="/img/loupe.png" id="loupe" /></button>
		</form>
	</div>

	</body>
</html>
