<!-- src/main/resources/templates/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mon En-tête</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
-->
</head>
<body >
	    <header>
		   <img id="logo" src="/img/logo.png" alt="Logo" />

            <nav>
                <ul>
                    <li><a th:href="@{/}">Accueil</a></li>
                    <li th:if="${role != true}"><a th:href="@{/categories-client}">Nos Catégories</a></li>
                    <li th:if="${role != true}"><a th:href="@{/voyages-client}">Nos voyages</a></li>
                    <li><a th:href="@{/recherche}">Recherche</a></li>
                    
    				<li th:if="${role == false}"><a th:href="@{/favoris}">Favoris</a></li>
    				
				    <li th:if="${role == true}"><a th:href="@{/voyages}">Gérer les voyages</a></li>
				    <li th:if="${role == true}"><a th:href="@{/listeCategories}">Gérer les catégories</a></li>	
				    		
				    <li th:unless="${token}"><a th:href="@{/connexion}">Connexion</a></li>
				    <li th:unless="${token}"><a th:href="@{/inscription}">Inscription</a></li>
				    <li th:if="${token}"><a th:href="@{/deconnexion}">Déconnexion</a></li>
				    <li th:if="${role == false}"><a th:href="@{/profil-Client}">Profil de <span th:text="${username}"></span></a></li>
				    <li th:if="${role == true}">Profil administrateur</li>
				    
                </ul>
            </nav>
			<br><br><br><br>
	    </header>
	    
	    
</body>
</html>
