<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Voyages</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
	<body>
	    <div th:replace="header :: header"></div>

	
    <div class="content">
        <img id="img_accueil" src="/img/imgAccueil.jpg" alt="Logo">
    </div>
    
	<h1 id="dest">Nos destinations</h1>

    <div class="grid-container">
        <div class="grid-item" th:each="categorie : ${categories}">
            <img th:src="@{/displayImageCat/{id}(id=${categorie.idCategorie})}" style="width: 50%;">
            <p class="nomCategorie" th:text="${categorie.nomCategorie}"></p>
            <form th:action="@{'/categorie-voyages/' + ${categorie.idCategorie}}" method="get">
                <input type="hidden" name="idCategorie" th:value="${categorie.idCategorie}" />
                <button type="submit" class="submit">Voir plus</button>
            </form>
        </div>
    </div>
    
    <h1 id="dest">Bienvenue chez Odyssée Voyage</h1>
    
    <p>Chez Odyssée Voyage, nous croyons que chaque voyage est une aventure en soi. Notre mission est de vous inspirer à explorer le monde, à vivre des expériences inoubliables et à créer des souvenirs qui dureront toute une vie. Nous comprenons l'importance du voyage en tant que source d'enrichissement personnel, de découverte culturelle et de moments précieux en famille et entre amis.</p>
		
	<p>Notre site de vente de voyages en ligne est conçu pour rendre vos rêves de voyage accessibles et inoubliables. Que vous souhaitiez explorer les ruelles pittoresques de l'Europe, vous détendre sur les plages de sable blanc des Caraïbes, ou vivre l'aventure dans des destinations exotiques, Odyssée Voyage est votre compagnon de confiance pour planifier et réserver votre prochaine aventure.</p>
	
	<p>Nous nous engageons à vous offrir une expérience de voyage sans tracas, du début à la fin. Notre équipe d'experts passionnés est là pour vous guider à travers un large éventail de destinations, d'hébergements et d'activités. Nous sommes fiers de vous offrir des voyages sur mesure qui répondent à vos goûts et à vos besoins uniques.</p>
	
	</body>
</html>
