<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Voyages</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
	<body>
	    <div th:replace="header :: header"></div>


		<div class="image_accueil">
			<img id="img_accueil" src="/img/b.jpg" alt="Logo">
		</div>
		
		
		
	<table>
        <tbody>
            <tr th:each="categorie : ${categories}" class="categorie-row">
				<td><img th:src="@{/img/} + ${categorie.imageCategorie}" alt="Image du voyage" style="max-width: 50%; max-height: 100px;"></td>
				<td class="nomCategorie" th:text="${categorie.nomCategorie}"></td>
    			 <td>
	                <form th:action="@{'/categorie-voyages/' + ${categorie.idCategorie}}" method="get">
	                    <input type="hidden" name="idCategorie" th:value="${categorie.idCategorie}" />
	                    <button type="submit">Voir plus</button>
	                </form>
            	</td>
			</tr>

        </tbody>
    </table>
		
		
	</body>
</html>
