<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Voyages</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
	<body>
	    <div th:replace="header :: header"></div>

	<br><br><br><br><br>
    <div class="content">
        <img id="img_accueil" src="/img/imgAccueil.jpg" alt="Logo">
    </div>
    
	<h1 id="dest">Nos destinations</h1>

    <div class="grid-container">
        <div class="grid-item" th:each="categorie : ${categories}">
            <img th:src="@{/img/} + ${categorie.imageCategorie}" alt="Image du voyage" style="max-width: 100%; max-height: 100px;">
            <p class="nomCategorie" th:text="${categorie.nomCategorie}"></p>
            <form th:action="@{'/categorie-voyages/' + ${categorie.idCategorie}}" method="get">
                <input type="hidden" name="idCategorie" th:value="${categorie.idCategorie}" />
                <button type="submit" class="submit">Voir plus</button>
            </form>
        </div>
    </div>
		
	</body>
</html>
